{% extends 'main/layout.html' %}
{% load static %}

{% block Head %}
    <title>Добавление записи</title>
    <link rel="stylesheet" href="{% static 'main/css/oil_sub.css' %}">
{% endblock %}

{% block Body %}
	<form method="POST">
        {% csrf_token %}
        <h1 style="margin-left: 19vw">Добавление записи</h1>
        <div class="content">
            <p>
                <label>Дата:</label>
                <input class="input_data" type="date" required name="date">
            </p>
            <p>
                <label>Кол-во тонн:</label>
                <input class="input_data" type="number" step="any" required name="value">
            </p>
            <input class="button_save" type="submit" value="Сохранить">
        </div>
    </form>
{% endblock %}